





<div class="columns is-centered">
  <div class="column-6 mt-4">
    <div class="card">
      <div class="aside grdx-pnkl-orn text-white column-4">
        <h2>Sign up</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique, ullam.
        </p>
      </div>
      <div class="body column-8">
        <div class="card-header">
          <h2>Sign up</h2>
        </div>
        <div class="card-content">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :email, class:'label' %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input" %>
            </div>

            <div class="field">
              <%= f.label :password, class:'label' %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"input" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation, class:'label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"input" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up", class:"submit is-fullwidth grdx-pnkl-orn" %>
            </div>
          <% end %>
          <div class="field has-text-centered">
            <span class="has-text-centered">OR</span>
          </div>
        </div>
        <div class="card-footer flex-col">
          <%= render "devise/shared/links", class:"is-fullwidth" %>
        </div>
      </div>
    </div>
  </div>
</div>
