<%= form_with(model: store, local: true, class:'form') do |form| %>
  <% if store.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(store.errors.count, "error") %> prohibited this store from being saved:</h2>

      <ul>
        <% store.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product, class:"label" %>
    <%= form.text_field :product, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :barcode, class:"label" %>
    <%= form.text_field :barcode, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :price, class:"label" %>
    <%= form.text_field :price, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :user_id, class:"label"  %>
    <%= form.text_field :user_id, class:"input" %>
  </div>

  <div class="actions">
    <%= form.submit class:'submit grdx-pnkl-orn w-10' %>
  </div>
<% end %>
