<div class="columns">
  <div class="column-6 mx-auto">
    <div class="card">
      <div class="body w-10">
        <div class="card-header">
          <h1>New Warehouse</h1>
        </div>
        <div class="card-content">
          <%= render 'form', warehouse: @warehouse %>
        </div>
        <div class="card-footer">
          <%= link_to 'Back', warehouses_path, class:"btn btn-light" %>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="pagination rrg-red-orn-grn">
    <input type="radio" name="radion" id="radio1" class="input-1">
    <input type="radio" name="radion" id="radio2" class="input-2" checked/>
    <div class="page-1 mt-5">
        <div class="column-6 mx-auto">
          <div class="card bg-white">
          <div class="column-3 aside grdx-pnkl-orn">
            <p class="has-text-centered">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia,
              dolorum nemo quam itaque molestias sunt non eveniet voluptatum, laudantium earum,
              odit ipsa amet! Similique ab commodi assumenda vero neque, error nam illum sapiente 
              officiis, nemo dolore ducimus rem possimus 
              numquam dolores laudantium labore sunt cumque distinctio iusto pariatur sint magnam.
            </p>
          </div>
            <div class="body column-9">
              <div class="card-header">
                <h1>New Store</h1>
              </div>
              <div class="card-content">
                <%= render 'form', store: @store %>
              </div>
              <footer class="card-footer">
                <div class="card-footer-item">
                  
                </div>
              </footer>
            </div>
          </div>
        </div>
    </div>

    <div class="page-2">
      <div class="column-8 m-column-11 mx-auto">
        <h1>Stores</h1>
        <table class="table">
          <thead>
            <tr>
              <th>Product</th>
              <th>Barcode</th>
              <th>Price</th>
              <th>User</th>
              <th colspan="3">Actions</th>
            </tr>
          </thead>

          <tbody>
            <% @stores.each do |store| %>
              <tr>
                <td><%= store.product %></td>
                <td><%= store.barcode %></td>
                <td><%= store.price %></td>
                <td><%= store.user_id %></td>
                <td><%= link_to 'Show', store %></td>
                <td><%= link_to 'Edit', edit_store_path(store) %></td>
                <td><%= link_to 'Destroy', store, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="pagination-control">
      <label for="radio1" class="lab-1">Create New Store</label>
      <label for="radio2" class="lab-2">All Available Products</label>
    </div>
  </div>